body {
  font-family: var(--roboto);

  color: var(--maincolor);
}

/* HEADER START */
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;

  align-items: center;
  background-color: var(--bgcolor);
  font-weight: var(--tittle_fweight);
}

.header_tittle {
  font-size: 28px;
  font-family: var(--rubik);
  line-height: 33.3px;
}

.nav-list {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  gap: 21px;
}

.nav-link:hover {
  color: var(--linkhovercolor);
}

.header_link {
  display: flex;
  gap: 40px;
  font-size: 15px;
}

.header_link a {
  color: var(--maincolor);
  padding: 7px 2px;
  transition: all 0.4s;
}

.header_link a:hover {
  color: #fff;
  background-color: var(--linkhovercolor);
  border-radius: 4px;
}

/* HEADER END */

/* DREAM START */

.dream-content {
  display: flex;
  align-items: center;

  justify-content: space-around;
  padding-top: 56px;
  background-color: var(--bgcolor);
  font-weight: var(--tittle_fweight);
  background-image: url(assets/images/bg.svg);
}

.dream_info {
  flex-basis: 25%;
  margin: 0 auto;
}

.dream_img {
  display: flex;
  flex-basis: 40%;
}

.dream_info_tittle {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 21px;
}

.dream_info_desc {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  opacity: 70%;
}

/* DREAM END */

/* COMPANY START */

.company-content {
  display: flex;
  flex-direction: column;

  text-align: center;
  width: 766px;
  margin: 0 auto;
  padding: 115px;
}

.company_info_tittle {
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  padding-bottom: 30px;
}

.company_info_desc {
  font-size: 19px;
  line-height: 32px;
  opacity: var(--textopacity);

  padding-bottom: 60px;
}

.company_logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}

.company_logo1,
.company_logo2 {
  display: flex;
  gap: 78px;
}

/* COMPANY END */

/* CATEGORY START */

.category-content {
  display: flex;

  background-color: var(--maincolor);
  color: #fff;
  padding: 132px 0;
}

/* CATEGORY END */
